 img {
      width: 20%;
      height:auto;
      float: right;
      
    } 
h1 {
        color: grey;
        font-size: 40;
        font: outline;
        text-align: center;
        border: 6px solid rebeccapurple;
   }  
   h2 {
    color: grey;
    font-size: 20;
    font: outline;
    text-align: center;
     }  
body{
    background-color: skyblue;
    font-size: 20px;
}

        
     
