 img {
      width: 20%;
      height:auto;
      
    } 
h1 {
        color: grey;
        font-size: 40;
        font: outline;
        text-align: center;
   }  
   h2 {
    color: grey;
    font-size: 20;
    font: outline;
    text-align: center;
     }  
body {
        background-color: lightblue;
      }
.about me{
    border:4px solid green
    border-right:4px solid green
    border-left:4px solid green
    border-bottom:4px solid green
}
